.App-header {
  height: 375px;
  width: 100%;
  background-image: url("/img/banner.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-header{
  color:#EFD807;
  font-size: 30px;
  font-weight: bolder;
}