.App-header {
  height: 343px;
  width: 100%;
  background-image: url("/img/banner.jpg");
  background-position: 0px -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-header{
  color:#EFD807;
  font-size: 30px;
  font-weight: bolder;
}
.carousel-inner{
  height: 400px;
}

.match{
  border-bottom: 1px solid blue;
  text-align: center;
}

.content-match > div{
    margin: 20px 50px 0 50px;
}
.content-match{
  display: flex;
  flex-wrap: wrap;
}

.match-card{
  display: flex;
  /* flex-wrap: wrap; */
}